*{ /*inicio*/ /*ejercicio responsive*/
    margin:0;
    padding:0;
}
body{
    font-family:sans-serif; /*inicio*/
    padding-top:50px;
}
.articulos{
    width:90%; /*1*/ /*90% del espacio que le deje el body*/ 
    margin:0 auto 50px;
}
.card_img{ /*2*/ /*card no necesita ancho ni posicionarse, lo coge de articulos, pero card_img si*/ 
    display:block;
    width:100%;
    height:150px;
    object-fit:cover;
    border-radius:20px 20px 0 0;
}
.card_contenido{ /*3*/
    padding:10px 20px 20px;
    border-top:5px solid #444;
    border-left:1px solid #444;
    position:relative; /*5*/ /*para que el puntito se ponga al final de la linea que es donde quiero*/ 
}
.card_contenido::after{ /*5*/
    content:""; /*es un span vacío, pq necesita content para que se vea aunq no quiera poner un texto sino un elemento gráfico*/
    display:block;
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:#444;
    position:absolute; /*para que el puntito se ponga al final de la linea que es donde quiero*/
    left:-5px; /*para que el puntito se ponga al final de la linea que es donde quiero*/
    bottom:-5px; /*para que el puntito se ponga al final de la linea que es donde quiero*/
}
.card_contenido p{ /*6*/ /*una vez tenemos alineado y posicionado las tarjetas y el contenido y las imagenes de las mismas, podemos empezar a estilizar el texto*/ 
    color:#555;
    font-size:1.1em;
    letter-spacing: 0.01em;
    /*position:relative; /*8*/
    /*display:flex; /*8*/
    /*flex-direction: column; /*8*/
    /*align-items:flex-end; /*8*/
}
.card_boton{ /*7*/
    display:block;
    padding:10px 15px;
    margin-top:20px; /*9*/
    text-decoration:none; /*9*/
    color:white; /*9*/
    background-image:linear-gradient(to right top, rgb(26, 204, 145) 20%,rgb(23, 124, 23) 100%); /*9*/
    border-radius:5px; /*9*/
}
.card:not(:first-child){ /*4*/ /*a partir de la segunda tarjeta se van a separar de la de arriba. el primero ya tiene margin top asi que no le hace falta el espacio.*/ 
    margin-top:30px;
}

@media screen and (min-width:501px){ /*10*/
    .articulos{
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between; /*11*/
    }
    .card{ /*11*/
        width:48%;
        margin-bottom:4%; /*13*/ /*para que sea el mismo espacio que el 48% (sobran 2% y 2%, por eso 4%), 4% con respecto al ancho que está ocupando el contenedor*/
    }
    .card:not(:first-child){ /*12*/
        margin-top:0; /*para quitar el margin top que pusimos previamente en el paso 4*/
    }
}

@media screen and (min-width:901px){  /*13*/
    .articulos{
        justify-content:flex-start;
    }
    .card{ /*13*/
        width:32%;
        margin-bottom:2%;
    }
    .card:nth-child(3n+2){ /*para que no empiece desde 0 sino desde 2*/ /*14*/
        margin-left:2%;
        margin-right:2%;
    }
}

@media screen and (min-width:1201px){
    .articulos{
        width:1200px;
    }
}